<a href="https://colab.research.google.com/github/Meena-30/Assignment1/blob/main/assignment2_hqamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [44]:
import numpy as np

In [6]:
df=pd.read_csv('/content/energydata_complete.csv',encoding="latin-1")

In [7]:
df.shape

(19735, 29)

In [8]:
df.size

572315

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [10]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
X=df[['T2']]
y=df['T6']

In [22]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
X

In [47]:
from sklearn.preprocessing import MinMaxScaler
scale1=MinMaxScaler()

In [48]:
scaled_data1=scale1.fit_transform(df[['T1','Appliances','RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']])

In [51]:
df=pd.DataFrame(scaled_data1)

In [53]:
df.columns=['T1','Appliances','RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']

In [54]:
X=df[['T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']]
y=df['Appliances']

In [55]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=42)

In [56]:
X_train

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
9129,0.493488,0.234933,0.118488,0.568001,0.373878,0.300670,0.470571,0.261630,0.408027,0.159157,...,0.472078,0.379139,0.168274,0.861240,0.776316,0.142857,0.984615,0.191554,0.210760,0.210760
2453,0.286167,0.480965,0.181730,0.669978,0.223496,0.735317,0.270270,0.699957,0.178691,0.333576,...,0.240375,0.700469,0.247588,0.837209,0.828947,0.142857,0.600000,0.334842,0.478773,0.478773
9152,0.422386,0.230529,0.057427,0.610179,0.373878,0.338059,0.414414,0.236449,0.378404,0.152641,...,0.468262,0.410734,0.114148,0.853488,0.861842,0.107143,0.915385,0.165158,0.090575,0.090575
15652,0.360084,0.273645,0.138115,0.532477,0.440346,0.248793,0.396396,0.300469,0.315655,0.162565,...,0.386056,0.274145,0.390139,0.590310,0.728070,0.440476,0.600000,0.470588,0.809721,0.809721
16951,0.835269,0.422071,1.000000,0.318493,0.745383,0.459106,0.900901,0.516432,0.748845,0.455819,...,0.854318,0.633278,0.849946,0.530233,0.355263,0.142857,0.600000,0.787330,0.341060,0.341060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.518479,0.381892,0.239157,0.638298,0.481888,0.478268,0.569970,0.515152,0.449435,0.249875,...,0.568852,0.478615,0.468917,0.493798,0.695175,0.488095,0.600000,0.557315,0.354408,0.354408
11964,0.591341,0.458949,0.428883,0.614959,0.456962,0.585294,0.557658,0.719875,0.417582,0.286412,...,0.561915,0.631898,0.717042,0.468605,0.548246,0.142857,0.600000,0.787330,0.003224,0.003224
5390,0.366420,0.238785,0.145384,0.484675,0.235959,0.409846,0.279279,0.325651,0.295406,0.159587,...,0.312175,0.427704,0.122186,0.594186,0.835526,0.250000,0.946154,0.162896,0.476422,0.476422
860,0.518479,0.236767,0.311849,0.417940,0.324028,0.381679,0.537538,0.346991,0.255136,0.244712,...,0.346861,0.361341,0.217042,0.830233,0.559211,0.107143,0.600000,0.119910,0.264561,0.264561
15795,0.475185,0.290799,0.275503,0.508014,0.456962,0.365633,0.417117,0.499502,0.369804,0.192086,...,0.468262,0.506347,0.379421,0.683721,0.798246,0.071429,0.600000,0.494721,0.586533,0.586533

In [57]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train.values,y_train)

LinearRegression()

In [60]:
y_pred=model.predict(X_test.values)

In [62]:
 from sklearn.metrics import mean_absolute_error
 mean_absolute_error(y_test, y_pred)

0.05000832667689451

In [63]:
rss=np.sum(np.square(y_pred - y_test))

In [64]:
rss

46.422010380817355

In [65]:
from sklearn.metrics import mean_squared_error

In [66]:
mean_squared_error(y_test, y_pred)

0.007840231444150879

In [67]:
 from sklearn.metrics import r2_score
 r2_score(y_test, y_pred)

0.15757461868115297